:root {
  --logo-height: 120px;
  --logo-width: 275px;
  --logo-header-ratio: 1.25;
  --primary-blue: #006685;
}
.masthead {
  display: flex;
  align-items: center;
  background-color: white;
  height: 100vh;
}
.container-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem !important;
}

.form-submit-button {
  margin-top: 1rem !important;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accounts-accordian {
  margin-top: 40px !important;
}

.logo {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 10px;
}

.menu-header {
  background-color: var(--primary-blue) !important;
}

.logo-header {
  height: calc(var(--logo-height) / var(--logo-header-ratio)) !important;
  width: calc(var(--logo-width) / var(--logo-header-ratio)) !important;
}
.logo-header img {
  width: 100% !important;
  height: 100% !important;
}

.main-container {
  margin-top: calc(var(--logo-height) / var(--logo-header-ratio) + 20px);
}

.ui.menu .item {
  color: white !important;
}
.form-button-fixed-width button {
  width: 90px;
}

.mt-1 {
  margin-top: 1em !important;
}

.ui.grid > .row {
  padding-top: 0.45rem !important;
  padding-bottom: 0.45rem !important;
}

.form-label {
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}

.debt-relief-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
